@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  scrollbar-width: 10px;
  scrollbar-color:#000814;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background:  #afb2bf;
}

*::-webkit-scrollbar-thumb {
  background-color:#2ba863;
  border-radius: 10px;
  visibility: visible;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}